<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta name="Content-Type" content="text/html; charset=utf-8" />
<title>Class: Hammer::Component::FormPart::Widget</title>
<link rel="stylesheet" href="../../../css/style.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="../../../css/common.css" type="text/css" media="screen" charset="utf-8" />

<script type="text/javascript" charset="utf-8">
  relpath = '../../..';
  if (relpath != '') relpath += '/';
</script>
<script type="text/javascript" charset="utf-8" src="../../../js/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="../../../js/app.js"></script>

  </head>
  <body>
    <script type="text/javascript" charset="utf-8">
      if (window.top.frames.main) document.body.className = 'frames';
    </script>
    
    <div id="header">
      <div id="menu">
  
    <a href="../../../_index.html">Index (W)</a> &raquo; 
    <span class='title'><a href="../../../Hammer.html" title="Hammer (module)">Hammer</a></span> &raquo; <span class='title'><a href="../../Component.html" title="Hammer::Component (module)">Component</a></span> &raquo; <span class='title'><a href="../FormPart.html" title="Hammer::Component::FormPart (class)">FormPart</a></span>
     &raquo; 
    <span class="title">Widget</span>
  
  
  <div class="noframes"><span class="title">(</span><a href="." target="_top">no frames</a><span class="title">)</span></div>
</div>

      <div id="search">
  <a id="class_list_link" href="#">Class List</a>
  <a id="method_list_link" href="#">Method List</a>
  <a id ="file_list_link" href="#">File List</a>
</div>

      <div class="clear"></div>
    </div>
    
    <iframe id="search_frame"></iframe>
    
    <div id="content"><h1>Class: Hammer::Component::FormPart::Widget
  
  
  
</h1>

<dl class="box">
  
    <dt class="r1">Inherits:</dt>
    <dd class="r1">
      <span class="inheritName"><a href="../Base.html" title="Hammer::Component::Base (class)">Hammer::Component::Base</a></span>
      
        <ul class="fullTree">
          <li>Object</li>
          
            <li class="next"><a href="../SuperAbstract.html" title="Hammer::Component::SuperAbstract (class)">Hammer::Component::SuperAbstract</a></li>
          
            <li class="next"><a href="../Abstract.html" title="Hammer::Component::Abstract (class)">Hammer::Component::Abstract</a></li>
          
            <li class="next"><a href="../Base.html" title="Hammer::Component::Base (class)">Hammer::Component::Base</a></li>
          
            <li class="next">Hammer::Component::FormPart::Widget</li>
          
        </ul>
        <a href="#" class="inheritanceTree">show all</a>
      
      </dd>
    
  
  
    
  
    
  
  
  
    <dt class="r2 last">Defined in:</dt>
    <dd class="r2 last">lib/hammer/component/form_part.rb</dd>
  
</dl>
<div class="clear"></div>



  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

  
    <h2>
      Instance Method Summary
      <small>(<a href="#" class="summary_toggle">collapse</a>)</small>
    </h2>

    <ul class="summary">
      
        <li class="protected ">
  <span class="summary_signature">
    
      <a href="#wrapper_options-instance_method" title="#wrapper_options (instance method)">- (Object) <strong>wrapper_options</strong> </a>
    

    
  </span>
  
  
  <span class="note title protected">protected</span>
  
  
  

  
    <span class="summary_desc"><div class='inline'></div></span>
  
</li>

      
    </ul>
  


  
  
  
  
  
  
  
  
  
  
  
  
  <h3 class="inherited">Methods included from <a href="../Rendering.html" title="Hammer::Component::Rendering (module)">Hammer::Component::Rendering</a></h3>
  <p class="inherited"><a href="../Rendering.html#create_widget-instance_method" title="Hammer::Component::Rendering#create_widget (method)">#create_widget</a>, <a href="../Rendering.html#included-class_method" title="Hammer::Component::Rendering.included (method)">included</a>, <a href="../Rendering.html#to_html-instance_method" title="Hammer::Component::Rendering#to_html (method)">#to_html</a>, <a href="../Rendering.html#widget-instance_method" title="Hammer::Component::Rendering#widget (method)">#widget</a>, <a href="../Rendering.html#widget_assigns-instance_method" title="Hammer::Component::Rendering#widget_assigns (method)">#widget_assigns</a>, <a href="../Rendering.html#widget_class-instance_method" title="Hammer::Component::Rendering#widget_class (method)">#widget_class</a></p>

  
  
  
  
  
  
  
  <h3 class="inherited">Methods included from <a href="../Answer.html" title="Hammer::Component::Answer (module)">Hammer::Component::Answer</a></h3>
  <p class="inherited"><a href="../Answer.html#answer%21-instance_method" title="Hammer::Component::Answer#answer! (method)">#answer!</a>, <a href="../Answer.html#answering%21-instance_method" title="Hammer::Component::Answer#answering! (method)">#answering!</a>, <a href="../Answer.html#answering%3F-instance_method" title="Hammer::Component::Answer#answering? (method)">#answering?</a>, <a href="../Answer.html#ask-instance_method" title="Hammer::Component::Answer#ask (method)">#ask</a></p>

  
  
  
  
  
  
  
  <h3 class="inherited">Methods included from <a href="../Passing.html" title="Hammer::Component::Passing (module)">Hammer::Component::Passing</a></h3>
  <p class="inherited"><a href="../Passing.html#pass_on-instance_method" title="Hammer::Component::Passing#pass_on (method)">#pass_on</a>, <a href="../Passing.html#passed%3F-instance_method" title="Hammer::Component::Passing#passed? (method)">#passed?</a>, <a href="../Passing.html#retake_control%21-instance_method" title="Hammer::Component::Passing#retake_control! (method)">#retake_control!</a>, <a href="../Passing.html#to_html-instance_method" title="Hammer::Component::Passing#to_html (method)">#to_html</a></p>

  
  
  
  
  
  
  
  <h3 class="inherited">Methods included from <a href="../Inspection.html" title="Hammer::Component::Inspection (module)">Hammer::Component::Inspection</a></h3>
  <p class="inherited"><a href="../Inspection.html#inspector-instance_method" title="Hammer::Component::Inspection#inspector (method)">#inspector</a>, <a href="../Inspection.html#inspector_class-instance_method" title="Hammer::Component::Inspection#inspector_class (method)">#inspector_class</a></p>

  
  
  
  
  
  
  
  <h3 class="inherited">Methods inherited from <a href="../Abstract.html" title="Hammer::Component::Abstract (class)">Hammer::Component::Abstract</a></h3>
  <p class="inherited"><a href="../Abstract.html#check_assigns-instance_method" title="Hammer::Component::Abstract#check_assigns (method)">#check_assigns</a>, <a href="../Abstract.html#initialize-instance_method" title="Hammer::Component::Abstract#initialize (method)">#initialize</a>, <a href="../Abstract.html#new-instance_method" title="Hammer::Component::Abstract#new (method)">#new</a></p>

  
  
  
  
  
  
  <div id="constructor_details" class="method_details_list">
  <h2>Constructor Details</h2>
  
    <p class="notice">This class inherits a constructor from <a href="../Abstract.html#initialize-instance_method" title="Hammer::Component::Abstract#initialize (method)">Hammer::Component::Abstract</a></p>
  
</div>


  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>
    
    
      <div class="method_details first">
  <p class="signature first" id="wrapper_options-instance_method">
  
    - (<tt>Object</tt>) <strong>wrapper_options</strong>  <span class="extras">(protected)</span>
  

  
</p><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


35
36
37</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/form_part.rb', line 35</span>

<span class='kw'>def</span> <span class='id wrapper_options'>wrapper_options</span>
  <span class='kw'>super</span><span class='period'>.</span><span class='id merge'>merge</span> <span class='symbol'>:data-form-id</span><span class='tstring_end'>'</span></span> <span class='op'>=&gt;</span> <span class='id component'>component</span><span class='period'>.</span><span class='id form'>form</span><span class='period'>.</span><span class='id object_id'>object_id</span><span class='comma'>,</span> <span class='symbol'>:data-component-id</span><span class='tstring_end'>'</span></span> <span class='op'>=&gt;</span> <span class='id component'>component</span><span class='period'>.</span><span class='id object_id'>object_id</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
  </div>

</div>
    
    <div id="footer">
  Generated on Fri Jul 23 12:41:37 2010 by 
  <a href="http://yardoc.org" title="Yay! A Ruby Documentation Tool">yard</a>
  0.5.8 (ruby-1.9.2).
</div>

  </body>
</html>