<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Module: Hammer::Component::Rendering</title>
<link rel="stylesheet" href="../../css/style.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="../../css/common.css" type="text/css" media="screen" charset="utf-8" />

<script type="text/javascript" charset="utf-8">
  relpath = '../..';
  if (relpath != '') relpath += '/';
</script>
<script type="text/javascript" charset="utf-8" src="../../js/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="../../js/app.js"></script>

  </head>
  <body>
    <script type="text/javascript" charset="utf-8">
      if (window.top.frames.main) document.body.className = 'frames';
    </script>
    
    <div id="header">
      <div id="menu">
  
    <a href="../../_index.html">Index (R)</a> &raquo; 
    <span class='title'><span class='object_link'><a href="../../Hammer.html" title="Hammer (module)">Hammer</a></span></span> &raquo; <span class='title'><span class='object_link'><a href="../Component.html" title="Hammer::Component (module)">Component</a></span></span>
     &raquo; 
    <span class="title">Rendering</span>
  
  
  <div class="noframes"><span class="title">(</span><a href="." target="_top">no frames</a><span class="title">)</span></div>
</div>

      <div id="search">
  <a id="class_list_link" href="#">Class List</a>
  <a id="method_list_link" href="#">Method List</a>
  <a id ="file_list_link" href="#">File List</a>
</div>

      <div class="clear"></div>
    </div>
    
    <iframe id="search_frame"></iframe>
    
    <div id="content"><h1>Module: Hammer::Component::Rendering
  
  
  
</h1>

<dl class="box">
  
  
    
  
    
  
  
    <dt class="r1">Included in:</dt>
    <dd class="r1"><span class='object_link'><a href="Base.html" title="Hammer::Component::Base (class)">Base</a></span></dd>
    
  
  
    <dt class="r2 last">Defined in:</dt>
    <dd class="r2 last">lib/hammer/component/rendering.rb</dd>
  
</dl>
<div class="clear"></div>

<h2>Defined Under Namespace</h2>
<p class="children">
   
    
      <strong class="modules">Modules:</strong> <span class='object_link'><a href="Rendering/ClassMethods.html" title="Hammer::Component::Rendering::ClassMethods (module)">ClassMethods</a></span>
    
   
    
  
</p>



  
    <h2>
      Class Method Summary
      <small>(<a href="#" class="summary_toggle">collapse</a>)</small>
    </h2>

    <ul class="summary">
      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#included-class_method" title="included (class method)">+ (Object) <strong>included</strong>(base) </a>
    

    
  </span>
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'></div></span>
  
</li>

      
    </ul>
  
    <h2>
      Instance Method Summary
      <small>(<a href="#" class="summary_toggle">collapse</a>)</small>
    </h2>

    <ul class="summary">
      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#_children-instance_method" title="#_children (instance method)">- (Object) <strong>_children</strong> </a>
    

    
  </span>
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'><p>
method used to actualize children during rendering from widget.
</p>
</div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#all_children-instance_method" title="#all_children (instance method)">- (Array&lt;Hammer::Component::Base&gt;) <strong>all_children</strong> </a>
    

    
  </span>
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'><p>
All children, self included.
</p>
</div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#children-instance_method" title="#children (instance method)">- (Array&lt;Hammer::Component::Base&gt;) <strong>children</strong> </a>
    

    
  </span>
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'><p>
Of children components.
</p>
</div></span>
  
</li>

      
        <li class="protected ">
  <span class="summary_signature">
    
      <a href="#create_widget-instance_method" title="#create_widget (instance method)">- (Hammer::Widget::Base) <strong>create_widget</strong> </a>
    

    
  </span>
  
  
  <span class="note title protected">protected</span>
  
  
  

  
    <span class="summary_desc"><div class='inline'><p>
default behavior, can by overwritten.
</p>
</div></span>
  
</li>

      
        <li class="private ">
  <span class="summary_signature">
    
      <a href="#delete_old_actions-instance_method" title="#delete_old_actions (instance method)">- (Object) <strong>delete_old_actions</strong> </a>
    

    
  </span>
  
  
  <span class="note title private">private</span>
  
  
  

  
    <span class="summary_desc"><div class='inline'></div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#to_html-instance_method" title="#to_html (instance method)">- (String) <strong>to_html</strong> </a>
    

    
  </span>
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'><p>
Rendered html.
</p>
</div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#widget-instance_method" title="#widget (instance method)">- (Widget::Component) <strong>widget</strong> </a>
    

    
  </span>
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'><p>
Return instantiated widget or creates one.
</p>
</div></span>
  
</li>

      
        <li class="protected ">
  <span class="summary_signature">
    
      <a href="#widget_assigns-instance_method" title="#widget_assigns (instance method)">- (Object) <strong>widget_assigns</strong> </a>
    

    
  </span>
  
  
  <span class="note title protected">protected</span>
  
  
  

  
    <span class="summary_desc"><div class='inline'><p>
always pass component to widget, can be extended by overwritten.
</p>
</div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#widget_class-instance_method" title="#widget_class (instance method)">- (Class) <strong>widget_class</strong> </a>
    

    
  </span>
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'><p>
Which is used to insatiate widget.
</p>
</div></span>
  
</li>

      
    </ul>
  



  <div id="class_method_details" class="method_details_list">
    <h2>Class Method Details</h2>
    
    
      <div class="method_details first">
  <p class="signature first" id="included-class_method">
  
    + (<tt>Object</tt>) <strong>included</strong>(base) 
  

  
</p><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


3
4
5
6
7
8</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/rendering.rb', line 3</span>

<span class='kw'>def</span> <span class='kw'>self</span><span class='period'>.</span><span class='id included'>included</span><span class='lparen'>(</span><span class='id base'>base</span><span class='rparen'>)</span>
  <span class='id base'>base</span><span class='period'>.</span><span class='id class_eval'>class_eval</span> <span class='kw'>do</span>
    <span class='id extend'>extend</span> <span class='const'>ClassMethods</span>
    <span class='id needs'>needs</span> <span class='symbol'>:widget_class</span> <span class='op'>=&gt;</span> <span class='kw'>nil</span>
  <span class='kw'>end</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
  </div>

  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>
    
    
      <div class="method_details first">
  <p class="signature first" id="_children-instance_method">
  
    - (<tt>Object</tt>) <strong>_children</strong> 
  

  
</p><div class="docstring">
  <div class="discussion">
    <p>
method used to actualize children during rendering from widget
</p>


  </div>
</div>
<div class="tags">
  
</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


148
149
150</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/rendering.rb', line 148</span>

<span class='kw'>def</span> <span class='id _children'>_children</span>
  <span class='ivar'>@_children</span> <span class='op'>||=</span> <span class='lbracket'>[</span><span class='rbracket'>]</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      <div class="method_details ">
  <p class="signature " id="all_children-instance_method">
  
    - (<tt>Array&lt;<span class='object_link'><a href="Base.html" title="Hammer::Component::Base (class)">Hammer::Component::Base</a></span>&gt;</tt>) <strong>all_children</strong> 
  

  
</p><div class="docstring">
  <div class="discussion">
    <p>
All children, self included
</p>


  </div>
</div>
<div class="tags">
  <h3>Returns:</h3>
<ul class="return">
  
    <li>
      
        <span class='type'>(<tt>Array&lt;<span class='object_link'><a href="Base.html" title="Hammer::Component::Base (class)">Hammer::Component::Base</a></span>&gt;</tt>)</span>
      
      
      
      
        &mdash;
        <div class='inline'><p>
all children, self included
</p>
</div>
      
    </li>
  
</ul>

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


153
154
155</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/rendering.rb', line 153</span>

<span class='kw'>def</span> <span class='id all_children'>all_children</span>
  <span class='id children'>children</span><span class='period'>.</span><span class='id inject'>inject</span><span class='lparen'>(</span><span class='lbracket'>[</span><span class='kw'>self</span><span class='rbracket'>]</span><span class='rparen'>)</span> <span class='lbrace'>{</span><span class='op'>|</span><span class='id arr'>arr</span><span class='comma'>,</span> <span class='id child'>child</span><span class='op'>|</span> <span class='id arr'>arr</span> <span class='op'>+</span> <span class='id child'>child</span><span class='period'>.</span><span class='id all_children'>all_children</span> <span class='rbrace'>}</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      <div class="method_details ">
  <p class="signature " id="children-instance_method">
  
    - (<tt>Array&lt;<span class='object_link'><a href="Base.html" title="Hammer::Component::Base (class)">Hammer::Component::Base</a></span>&gt;</tt>) <strong>children</strong> 
  

  
</p><div class="docstring">
  <div class="discussion">
    <p>
Of children components
</p>


  </div>
</div>
<div class="tags">
  <h3>Returns:</h3>
<ul class="return">
  
    <li>
      
        <span class='type'>(<tt>Array&lt;<span class='object_link'><a href="Base.html" title="Hammer::Component::Base (class)">Hammer::Component::Base</a></span>&gt;</tt>)</span>
      
      
      
      
        &mdash;
        <div class='inline'><p>
of children components
</p>
</div>
      
    </li>
  
</ul>

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


141
142
143
144</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/rendering.rb', line 141</span>

<span class='kw'>def</span> <span class='id children'>children</span>
  <span class='id to_html'>to_html</span> <span class='kw'>if</span> <span class='id changed?'>changed?</span>
  <span class='id _children'>_children</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      <div class="method_details ">
  <p class="signature " id="create_widget-instance_method">
  
    - (<tt><span class='object_link'><a href="../Widget/Base.html" title="Hammer::Widget::Base (class)">Hammer::Widget::Base</a></span></tt>) <strong>create_widget</strong>  <span class="extras">(protected)</span>
  

  
</p><div class="docstring">
  <div class="discussion">
    <p>
default behavior, can by overwritten
</p>


  </div>
</div>
<div class="tags">
  <h3>Returns:</h3>
<ul class="return">
  
    <li>
      
        <span class='type'>(<tt><span class='object_link'><a href="../Widget/Base.html" title="Hammer::Widget::Base (class)">Hammer::Widget::Base</a></span></tt>)</span>
      
      
      
      
    </li>
  
</ul>

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


161
162
163</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/rendering.rb', line 161</span>

<span class='kw'>def</span> <span class='id create_widget'>create_widget</span>
  <span class='id widget_class'>widget_class</span><span class='period'>.</span><span class='id new'>new</span><span class='lparen'>(</span><span class='id widget_assigns'>widget_assigns</span><span class='rparen'>)</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      <div class="method_details ">
  <p class="signature " id="delete_old_actions-instance_method">
  
    - (<tt>Object</tt>) <strong>delete_old_actions</strong>  <span class="extras">(private)</span>
  

  
</p><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


172
173
174</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/rendering.rb', line 172</span>

<span class='kw'>def</span> <span class='id delete_old_actions'>delete_old_actions</span>
  <span class='ivar'>@actions</span> <span class='op'>=</span> <span class='lbrace'>{</span><span class='rbrace'>}</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      <div class="method_details ">
  <p class="signature " id="to_html-instance_method">
  
    - (<tt>String</tt>) <strong>to_html</strong> 
  

  
</p><div class="docstring">
  <div class="discussion">
    <p>
Rendered html
</p>


  </div>
</div>
<div class="tags">
  <h3>Returns:</h3>
<ul class="return">
  
    <li>
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
      
        &mdash;
        <div class='inline'><p>
rendered html
</p>
</div>
      
    </li>
  
</ul>

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


117
118
119
120
121
122
123
124
125
126
127
128</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/rendering.rb', line 117</span>

<span class='kw'>def</span> <span class='id to_html'>to_html</span>
  <span class='kw'>if</span> <span class='id changed?'>changed?</span> <span class='op'>||</span> <span class='op'>!</span><span class='ivar'>@_html</span>
    <span class='id delete_old_actions'>delete_old_actions</span>
    <span class='id old_children'>old_children</span> <span class='op'>=</span> <span class='id _children'>_children</span><span class='period'>.</span><span class='id clone'>clone</span>
    <span class='id _children'>_children</span><span class='period'>.</span><span class='id clear'>clear</span>
    <span class='ivar'>@_html</span> <span class='op'>=</span> <span class='id widget'>widget</span><span class='period'>.</span><span class='id to_html'>to_html</span>
    <span class='id reset_change!'>reset_change!</span>
    <span class='comment'># mark unchanged rendered components to send
</span>    <span class='lparen'>(</span><span class='id children'>children</span> <span class='op'>-</span> <span class='id old_children'>old_children</span><span class='rparen'>)</span><span class='period'>.</span><span class='id each'>each</span> <span class='lbrace'>{</span><span class='op'>|</span><span class='id component'>component</span><span class='op'>|</span> <span class='id component'>component</span><span class='period'>.</span><span class='id all_children'>all_children</span><span class='period'>.</span><span class='id map'>map</span><span class='lparen'>(</span><span class='op'>&amp;</span><span class='symbol'>:unsend!</span><span class='rparen'>)</span> <span class='rbrace'>}</span>
  <span class='kw'>end</span>
  <span class='ivar'>@_html</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      <div class="method_details ">
  <p class="signature " id="widget-instance_method">
  
    - (<tt><span class='object_link'><a href="../Widget/Component.html" title="Hammer::Widget::Component (module)">Widget::Component</a></span></tt>) <strong>widget</strong> 
  

  
</p><div class="docstring">
  <div class="discussion">
    <p>
Return instantiated widget or creates one
</p>


  </div>
</div>
<div class="tags">
  <h3>Returns:</h3>
<ul class="return">
  
    <li>
      
        <span class='type'>(<tt><span class='object_link'><a href="../Widget/Component.html" title="Hammer::Widget::Component (module)">Widget::Component</a></span></tt>)</span>
      
      
      
      
        &mdash;
        <div class='inline'><p>
return instantiated widget or creates one
</p>
</div>
      
    </li>
  
</ul>

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


112
113
114</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/rendering.rb', line 112</span>

<span class='kw'>def</span> <span class='id widget'>widget</span>
  <span class='ivar'>@widget</span> <span class='op'>||=</span> <span class='id create_widget'>create_widget</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      <div class="method_details ">
  <p class="signature " id="widget_assigns-instance_method">
  
    - (<tt>Object</tt>) <strong>widget_assigns</strong>  <span class="extras">(protected)</span>
  

  
</p><div class="docstring">
  <div class="discussion">
    <p>
always pass component to widget, can be extended by overwritten
</p>


  </div>
</div>
<div class="tags">
  
</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


166
167
168</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/rendering.rb', line 166</span>

<span class='kw'>def</span> <span class='id widget_assigns'>widget_assigns</span>
  <span class='lbrace'>{</span> <span class='symbol'>:component</span> <span class='op'>=&gt;</span> <span class='kw'>self</span><span class='comma'>,</span> <span class='symbol'>:root_widget</span> <span class='op'>=&gt;</span> <span class='kw'>true</span> <span class='rbrace'>}</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      <div class="method_details ">
  <p class="signature " id="widget_class-instance_method">
  
    - (<tt>Class</tt>) <strong>widget_class</strong> 
  

  
</p><div class="docstring">
  <div class="discussion">
    <p>
Which is used to insatiate widget
</p>


  </div>
</div>
<div class="tags">
  <h3>Returns:</h3>
<ul class="return">
  
    <li>
      
        <span class='type'>(<tt>Class</tt>)</span>
      
      
      
      
        &mdash;
        <div class='inline'><p>
which is used to insatiate widget
</p>
</div>
      
    </li>
  
</ul>

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


131
132
133
134
135
136
137
138</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/rendering.rb', line 131</span>

<span class='kw'>def</span> <span class='id widget_class'>widget_class</span>
  <span class='kw'>case</span> <span class='ivar'>@widget_class</span>
  <span class='kw'>when</span> <span class='const'>Symbol</span> <span class='kw'>then</span> <span class='kw'>self</span><span class='period'>.</span><span class='id class'>class</span><span class='period'>.</span><span class='id widget_class'>widget_class</span> <span class='ivar'>@widget_class</span>
  <span class='kw'>when</span> <span class='const'>Class</span> <span class='kw'>then</span> <span class='ivar'>@widget_class</span>
  <span class='kw'>when</span> <span class='kw'>nil</span> <span class='kw'>then</span> <span class='kw'>self</span><span class='period'>.</span><span class='id class'>class</span><span class='period'>.</span><span class='id widget_class'>widget_class</span>
  <span class='kw'>else</span> <span class='id raise'>raise</span> <span class='const'>ArgumentError</span>
  <span class='kw'>end</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
  </div>

</div>
    
    <div id="footer">
  Generated on Mon May  9 16:46:33 2011 by 
  <a href="http://yardoc.org" title="Yay! A Ruby Documentation Tool" target="_parent">yard</a>
  0.6.8 (ruby-1.9.2).
</div>

  </body>
</html>