<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta name="Content-Type" content="text/html; charset=utf-8" />
<title>Module: Hammer::Component::Form::ClassMethods</title>
<link rel="stylesheet" href="../../../css/style.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="../../../css/common.css" type="text/css" media="screen" charset="utf-8" />

<script type="text/javascript" charset="utf-8">
  relpath = '../../..';
  if (relpath != '') relpath += '/';
</script>
<script type="text/javascript" charset="utf-8" src="../../../js/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="../../../js/app.js"></script>

  </head>
  <body>
    <script type="text/javascript" charset="utf-8">
      if (window.top.frames.main) document.body.className = 'frames';
    </script>
    
    <div id="header">
      <div id="menu">
  
    <a href="../../../_index.html">Index (C)</a> &raquo; 
    <span class='title'><a href="../../../Hammer.html" title="Hammer (module)">Hammer</a></span> &raquo; <span class='title'><a href="../../Component.html" title="Hammer::Component (module)">Component</a></span> &raquo; <span class='title'><a href="../Form.html" title="Hammer::Component::Form (module)">Form</a></span>
     &raquo; 
    <span class="title">ClassMethods</span>
  
  
  <div class="noframes"><span class="title">(</span><a href="." target="_top">no frames</a><span class="title">)</span></div>
</div>

      <div id="search">
  <a id="class_list_link" href="#">Class List</a>
  <a id="method_list_link" href="#">Method List</a>
  <a id ="file_list_link" href="#">File List</a>
</div>

      <div class="clear"></div>
    </div>
    
    <iframe id="search_frame"></iframe>
    
    <div id="content"><h1>Module: Hammer::Component::Form::ClassMethods
  
  
  
</h1>

<dl class="box">
  
  
    
  
    
  
  
  
    <dt class="r1 last">Defined in:</dt>
    <dd class="r1 last">lib/hammer/component/form.rb</dd>
  
</dl>
<div class="clear"></div>




  
    <h2>
      Instance Method Summary
      <small>(<a href="#" class="summary_toggle">collapse</a>)</small>
    </h2>

    <ul class="summary">
      
        <li class="protected ">
  <span class="summary_signature">
    
      <a href="#extend_widget-instance_method" title="#extend_widget (instance method)">- (Object) <strong>extend_widget</strong>(widget_class) </a>
    

    
  </span>
  
  
  <span class="note title protected">protected</span>
  
  
  

  
    <span class="summary_desc"><div class='inline'></div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#on_submit-instance_method" title="#on_submit (instance method)">- (Object) <strong>on_submit</strong>(&amp;block) </a>
    

    
  </span>
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'></div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#on_submit%3F-instance_method" title="#on_submit? (instance method)">- (Boolean) <strong>on_submit?</strong> </a>
    

    
  </span>
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'></div></span>
  
</li>

      
    </ul>
  



  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>
    
    
      <div class="method_details first">
  <p class="signature first" id="extend_widget-instance_method">
  
    - (<tt>Object</tt>) <strong>extend_widget</strong>(widget_class)  <span class="extras">(protected)</span>
  

  
</p><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


25
26
27
28</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/form.rb', line 25</span>

<span class='kw'>def</span> <span class='id extend_widget'>extend_widget</span><span class='lparen'>(</span><span class='id widget_class'>widget_class</span><span class='rparen'>)</span>
  <span class='kw'>super</span>
  <span class='id widget_class'>widget_class</span><span class='period'>.</span><span class='id send'>send</span> <span class='symbol'>:include</span><span class='comma'>,</span> <span class='const'>Widget</span> <span class='kw'>unless</span> <span class='id widget_class'>widget_class</span><span class='period'>.</span><span class='id include?'>include?</span> <span class='const'>Widget</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      <div class="method_details ">
  <p class="signature " id="on_submit-instance_method">
  
    - (<tt>Object</tt>) <strong>on_submit</strong>(&amp;block) 
  

  
</p><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


15
16
17</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/form.rb', line 15</span>

<span class='kw'>def</span> <span class='id on_submit'>on_submit</span><span class='lparen'>(</span><span class='op'>&amp;</span><span class='id block'>block</span><span class='rparen'>)</span>
  <span class='kw'>self</span><span class='period'>.</span><span class='id _on_submit'>_on_submit</span> <span class='op'>=</span> <span class='id block'>block</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      <div class="method_details ">
  <p class="signature " id="on_submit?-instance_method">
  
    - (<tt>Boolean</tt>) <strong>on_submit?</strong> 
  

  
</p><div class="docstring">
  <div class="discussion">
    

  </div>
</div>
<div class="tags">
  <h3>Returns:</h3>
<ul class="return">
  
    <li>
      
        <span class='type'>(<tt>Boolean</tt>)</span>
      
      
      
      
    </li>
  
</ul>

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


19
20
21</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/form.rb', line 19</span>

<span class='kw'>def</span> <span class='id on_submit?'>on_submit?</span>
  <span class='op'>!</span><span class='op'>!</span><span class='kw'>self</span><span class='period'>.</span><span class='id _on_submit'>_on_submit</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
  </div>

</div>
    
    <div id="footer">
  Generated on Fri Aug 27 15:41:20 2010 by 
  <a href="http://yardoc.org" title="Yay! A Ruby Documentation Tool">yard</a>
  0.5.8 (ruby-1.9.2).
</div>

  </body>
</html>