<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta name="Content-Type" content="text/html; charset=utf-8" />
<title>Module: Hammer::Component::State::InstanceMethods</title>
<link rel="stylesheet" href="../../../css/style.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="../../../css/common.css" type="text/css" media="screen" charset="utf-8" />

<script type="text/javascript" charset="utf-8">
  relpath = '../../..';
  if (relpath != '') relpath += '/';
</script>
<script type="text/javascript" charset="utf-8" src="../../../js/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="../../../js/app.js"></script>

  </head>
  <body>
    <script type="text/javascript" charset="utf-8">
      if (window.top.frames.main) document.body.className = 'frames';
    </script>
    
    <div id="header">
      <div id="menu">
  
    <a href="../../../_index.html">Index (I)</a> &raquo; 
    <span class='title'><a href="../../../Hammer.html" title="Hammer (module)">Hammer</a></span> &raquo; <span class='title'><a href="../../Component.html" title="Hammer::Component (module)">Component</a></span> &raquo; <span class='title'><a href="../State.html" title="Hammer::Component::State (module)">State</a></span>
     &raquo; 
    <span class="title">InstanceMethods</span>
  
  
  <div class="noframes"><span class="title">(</span><a href="." target="_top">no frames</a><span class="title">)</span></div>
</div>

      <div id="search">
  <a id="class_list_link" href="#">Class List</a>
  <a id="method_list_link" href="#">Method List</a>
  <a id ="file_list_link" href="#">File List</a>
</div>

      <div class="clear"></div>
    </div>
    
    <iframe id="search_frame"></iframe>
    
    <div id="content"><h1>Module: Hammer::Component::State::InstanceMethods
  
  
  
</h1>

<dl class="box">
  
  
    
  
    
  
  
  
    <dt class="r1 last">Defined in:</dt>
    <dd class="r1 last">lib/hammer/component/state.rb</dd>
  
</dl>
<div class="clear"></div>




  
    <h2>
      Instance Method Summary
      <small>(<a href="#" class="summary_toggle">collapse</a>)</small>
    </h2>

    <ul class="summary">
      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#change%21-instance_method" title="#change! (instance method)">- (Object) <strong>change!</strong> </a>
    

    
  </span>
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'><p>
tells component that it&#8217;s changed.
</p>
</div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#changed%3F-instance_method" title="#changed? (instance method)">- (Boolean) <strong>changed?</strong> </a>
    

    
  </span>
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'><p>
If component id changed.
</p>
</div></span>
  
</li>

      
        <li class="protected ">
  <span class="summary_signature">
    
      <a href="#children_update-instance_method" title="#children_update (instance method)">- (Object) <strong>children_update</strong>(options) </a>
    

    
  </span>
  
  
  <span class="note title protected">protected</span>
  
  
  

  
    <span class="summary_desc"><div class='inline'></div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#reset%21-instance_method" title="#reset! (instance method)">- (Object) <strong>reset!</strong> </a>
    

    
  </span>
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'><p>
resets component change state.
</p>
</div></span>
  
</li>

      
        <li class="protected ">
  <span class="summary_signature">
    
      <a href="#self_update-instance_method" title="#self_update (instance method)">- (Object) <strong>self_update</strong>(options) </a>
    

    
  </span>
  
  
  <span class="note title protected">protected</span>
  
  
  

  
    <span class="summary_desc"><div class='inline'></div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#to_html-instance_method" title="#to_html (instance method)">- (String) <strong>to_html</strong>(options = {}) </a>
    

    
  </span>
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'><p>
Rendered html.
</p>
</div></span>
  
</li>

      
    </ul>
  



  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>
    
    
      <div class="method_details first">
  <p class="signature first" id="change!-instance_method">
  
    - (<tt>Object</tt>) <strong>change!</strong> 
  

  
</p><div class="docstring">
  <div class="discussion">
    <p>
tells component that it&#8217;s changed
</p>


  </div>
</div>
<div class="tags">
  
</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


62
63
64</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/state.rb', line 62</span>

<span class='kw'>def</span> <span class='id change!'>change!</span>
  <span class='ivar'>@_changed</span> <span class='op'>=</span> <span class='kw'>true</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      <div class="method_details ">
  <p class="signature " id="changed?-instance_method">
  
    - (<tt>Boolean</tt>) <strong>changed?</strong> 
  

  
</p><div class="docstring">
  <div class="discussion">
    <p>
If component id changed
</p>


  </div>
</div>
<div class="tags">
  <h3>Returns:</h3>
<ul class="return">
  
    <li>
      
        <span class='type'>(<tt>Boolean</tt>)</span>
      
      
      
      
        &mdash;
        <div class='inline'><p>
if component id changed
</p>
</div>
      
    </li>
  
</ul>

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


67
68
69</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/state.rb', line 67</span>

<span class='kw'>def</span> <span class='id changed?'>changed?</span>
  <span class='ivar'>@_changed</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      <div class="method_details ">
  <p class="signature " id="children_update-instance_method">
  
    - (<tt>Object</tt>) <strong>children_update</strong>(options)  <span class="extras">(protected)</span>
  

  
</p><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


89
90
91</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/state.rb', line 89</span>

<span class='kw'>def</span> <span class='id children_update'>children_update</span><span class='lparen'>(</span><span class='id options'>options</span><span class='rparen'>)</span>
  <span class='id children'>children</span><span class='period'>.</span><span class='id map'>map</span> <span class='lbrace'>{</span><span class='op'>|</span><span class='id child'>child</span><span class='op'>|</span> <span class='id child'>child</span><span class='period'>.</span><span class='id to_html'>to_html</span><span class='lparen'>(</span><span class='id options'>options</span><span class='rparen'>)</span> <span class='rbrace'>}</span><span class='period'>.</span><span class='id join'>join</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      <div class="method_details ">
  <p class="signature " id="reset!-instance_method">
  
    - (<tt>Object</tt>) <strong>reset!</strong> 
  

  
</p><div class="docstring">
  <div class="discussion">
    <p>
resets component change state
</p>


  </div>
</div>
<div class="tags">
  
</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


72
73
74</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/state.rb', line 72</span>

<span class='kw'>def</span> <span class='id reset!'>reset!</span>
  <span class='ivar'>@_changed</span> <span class='op'>=</span> <span class='kw'>false</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      <div class="method_details ">
  <p class="signature " id="self_update-instance_method">
  
    - (<tt>Object</tt>) <strong>self_update</strong>(options)  <span class="extras">(protected)</span>
  

  
</p><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


85
86
87</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/state.rb', line 85</span>

<span class='kw'>def</span> <span class='id self_update'>self_update</span><span class='lparen'>(</span><span class='id options'>options</span><span class='rparen'>)</span>
  <span class='id changed?'>changed?</span> <span class='op'>?</span> <span class='id super_to_html'>super_to_html</span><span class='lparen'>(</span><span class='id options'>options</span><span class='rparen'>)</span> <span class='op'>:</span> <span class='tstring'><span class='tstring_beg'>'</span><span class='tstring_end'>'</span></span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      <div class="method_details ">
  <p class="signature " id="to_html-instance_method">
  
    - (<tt>String</tt>) <strong>to_html</strong>(options = {}) 
  

  
</p><div class="docstring">
  <div class="discussion">
    <p>
Rendered html
</p>


  </div>
</div>
<div class="tags">
  <h3>Parameters:</h3>
<ul class="param">
  
    <li>
      
        <span class='type'>(<tt>Hash</tt>)</span>
      
      
        <span class='name'>options</span>
      
      
        <em class="default">(defaults to: <tt>{}</tt>)</em>
      
      
    </li>
  
</ul>
<h3>Returns:</h3>
<ul class="return">
  
    <li>
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
      
        &mdash;
        <div class='inline'><p>
rendered html
</p>
</div>
      
    </li>
  
</ul>

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


78
79
80
81</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/hammer/component/state.rb', line 78</span>

<span class='kw'>def</span> <span class='id to_html'>to_html</span><span class='lparen'>(</span><span class='id options'>options</span> <span class='op'>=</span> <span class='lbrace'>{</span><span class='rbrace'>}</span><span class='rparen'>)</span>
  <span class='kw'>return</span> <span class='kw'>super</span> <span class='kw'>unless</span> <span class='id options'>options</span><span class='lbracket'>[</span><span class='symbol'>:update</span><span class='rbracket'>]</span>
  <span class='id self_update'>self_update</span><span class='lparen'>(</span><span class='id options'>options</span><span class='rparen'>)</span> <span class='op'>+</span> <span class='id children_update'>children_update</span><span class='lparen'>(</span><span class='id options'>options</span><span class='rparen'>)</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
  </div>

</div>
    
    <div id="footer">
  Generated on Tue Aug 24 18:44:17 2010 by 
  <a href="http://yardoc.org" title="Yay! A Ruby Documentation Tool">yard</a>
  0.5.8 (ruby-1.9.2).
</div>

  </body>
</html>